<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>
US Publicly Traded Corporations' Bankruptcy Prediction</p><br>

A dataset for bankruptcy prediction related to American public companies listed on the New York Stock Exchange and NASDAQ is provided. The dataset comprises accounting data from 8,262 distinct companies recorded during the period spanning from 1999 to 2018.

According to the Security Exchange Commission (SEC), a company in the American market is deemed bankrupt under two circumstances. Firstly, if the firm's management files for Chapter 11 of the Bankruptcy Code, indicating an intention to "reorganize" its business. In this case, the company's management continues to oversee day-to-day operations, but significant business decisions necessitate approval from a bankruptcy court. Secondly, if the firm's management files for Chapter 7 of the Bankruptcy Code, indicating a complete cessation of operations and the company going out of business entirely.

In this dataset, the fiscal year prior to the filing of bankruptcy under either Chapter 11 or Chapter 7 is labeled as "Bankruptcy" (1) for the subsequent year. Conversely, if the company does not experience these bankruptcy events, it is considered to be operating normally (0). The dataset is complete, without any missing values, synthetic entries, or imputed added values. The variables (column heads) are coded as such: 

* X1	Current assets - All the assets of a company that are expected to be sold or used as a result of standard business operations over the next year
* X2	Cost of goods sold - The total amount a company paid as a cost directly related to the sale of products
* X3	Depreciation and amortization - Depreciation refers to the loss of value of a tangible fixed asset over time (such as property, machinery, buildings, and plant). Amortization refers to the loss of value of intangible assets over time.
* X4	EBITDA - Earnings before interest, taxes, depreciation, and amortization. It is a measure of a company's overall financial performance, serving as an alternative to net income.
* X5	Inventory - The accounting of items and raw materials that a company either uses in production or sells.
* X6	Net Income - The overall profitability of a company after all expenses and costs have been deducted from total revenue.
* X7	Total Receivables - The balance of money due to a firm for goods or services delivered or used but not yet paid for by customers.
* X8	Market value - The price of an asset in a marketplace. In this dataset, it refers to the market capitalization since companies are publicly traded in the stock market.
* X9	Net sales - The sum of a company's gross sales minus its returns, allowances, and discounts.
* X10	Total assets - All the assets, or items of value, a business owns.
* X11	Total Long-term debt - A company's loans and other liabilities that will not become due within one year of the balance sheet date.
* X12	EBIT - Earnings before interest and taxes.
* X13	Gross Profit - The profit a business makes after subtracting all the costs that are related to manufacturing and selling its products or services.
* X14	Total Current Liabilities - The sum of accounts payable, accrued liabilities, and taxes such as Bonds payable at the end of the year, salaries, and commissions remaining.
* X15	Retained Earnings - The amount of profit a company has left over after paying all its direct costs, indirect costs, income taxes, and its dividends to shareholders.
* X16	Total Revenue - The amount of income that a business has made from all sales before subtracting expenses. It may include interest and dividends from investments.
* X17	Total Liabilities - The combined debts and obligations that the company owes to outside parties.
* X18	Total Operating Expenses - The expenses a business incurs through its normal business operations.

I'm interested in seeing whether or not I could leverage this dataset to predict bankruptcy. Let's import the dataset using pandas and see what we're working with:

In [11]:
import pandas as pd
# Importing pandas

df = pd.read_csv('american_bankruptcy.csv')
# Importing data file downloaded from Kaggle

print(df.head())
# Display an overview of the data

  company_name status_label  year       X1       X2      X3      X4       X5  \
0          C_1        alive  1999  511.267  833.107  18.373  89.031  336.018
1          C_1        alive  2000  485.856  713.811  18.577  64.367  320.590
2          C_1        alive  2001  436.656  526.477  22.496  27.207  286.588
3          C_1        alive  2002  396.412  496.747  27.172  30.745  259.954
4          C_1        alive  2003  432.204  523.302  26.680  47.491  247.245

       X6       X7  ...        X9      X10      X11     X12      X13      X14  \
0  35.163  128.348  ...  1024.333  740.998  180.447  70.658  191.226  163.816
1  18.531  115.187  ...   874.255  701.854  179.987  45.790  160.444  125.392
2 -58.939   77.528  ...   638.721  710.199  217.699   4.711  112.244  150.464
3 -12.410   66.322  ...   606.337  686.621  164.658   3.573  109.590  203.575
4   3.504  104.661  ...   651.958  709.292  248.666  20.811  128.656  131.261

       X15       X16      X17      X18
0  201.026  1024.333  401.483  935.302
1  204.065   874.255  361.642  809.888
2  139.603   638.721  399.964  611.514
3  124.106   606.337  391.633  575.592
4  131.884   651.958  407.608  604.467

[5 rows x 21 columns]

I find it preferable to change the variable names from the X format to what they actually mean so let's do that:

In [12]:
# Create a dictionary to assign variable names to the old column headers
column_name_map = {
    'X1' : 'current_assets',
    'X2' : 'cost_of_goods_sold',
    'X3' : 'depreciation_amortization',
    'X4' : 'ebitda',
    'X5' : 'inventory', 
    'X6' : 'net_income',
    'X7' : 'total_receivables',
    'X8' : 'market_value',
    'X9' : 'net_sales',
    'X10' : 'total_assets',
    'X11' : 'total_long_term_debt',
    'X12' : 'ebit',
    'X13' : 'gross_profit', 
    'X14' : 'total_current_liabilities',
    'X15' : 'retained_earnings',
    'X16' : 'total_revenue',
    'X17' : 'total_liabilities',
    'X18' : 'total_operating_expenses'
}

# Rename Columns 
df.rename(columns=column_name_map, inplace=True)

# Check new data frame
print(df.head(10))

  company_name status_label  year  current_assets  cost_of_goods_sold  \
0          C_1        alive  1999         511.267             833.107
1          C_1        alive  2000         485.856             713.811
2          C_1        alive  2001         436.656             526.477
3          C_1        alive  2002         396.412             496.747
4          C_1        alive  2003         432.204             523.302
5          C_1        alive  2004         474.542             598.172
6          C_1        alive  2005         624.454             704.081
7          C_1        alive  2006         645.721             837.171
8          C_1        alive  2007         783.431            1080.895
9          C_1        alive  2008         851.312            1110.677

   depreciation_amortization   ebitda  inventory  net_income  \
0                     18.373   89.031    336.018      35.163
1                     18.577   64.367    320.590      18.531
2                     22.496   27.207    286.588     -58.939
3                     27.172   30.745    259.954     -12.410
4                     26.680   47.491    247.245       3.504
5                     27.950   61.774    255.477      15.453
6                     29.222   91.877    323.592      35.163
7                     32.199  118.907    342.593      58.660
8                     39.952  168.522    435.608      75.144
9                     40.551  166.080    477.424      78.651

   total_receivables  ...  net_sales  total_assets  total_long_term_debt  \
0            128.348  ...   1024.333       740.998               180.447
1            115.187  ...    874.255       701.854               179.987
2             77.528  ...    638.721       710.199               217.699
3             66.322  ...    606.337       686.621               164.658
4            104.661  ...    651.958       709.292               248.666
5            127.121  ...    747.848       732.230               227.159
6            136.272  ...    897.284       978.819               318.576
7            181.691  ...   1061.169      1067.633               253.611
8            202.472  ...   1384.919      1362.010               507.918
9            227.300  ...   1423.976      1377.511               392.984

      ebit  gross_profit  total_current_liabilities  retained_earnings  \
0   70.658       191.226                    163.816            201.026
1   45.790       160.444                    125.392            204.065
2    4.711       112.244                    150.464            139.603
3    3.573       109.590                    203.575            124.106
4   20.811       128.656                    131.261            131.884
5   33.824       149.676                    160.025            142.450
6   62.655       193.203                    187.788            183.550
7   86.708       223.998                    256.506            242.153
8  128.570       304.024                    218.499            318.184
9  125.529       313.299                    254.418            385.851

   total_revenue  total_liabilities  total_operating_expenses
0       1024.333            401.483                   935.302
1        874.255            361.642                   809.888
2        638.721            399.964                   611.514
3        606.337            391.633                   575.592
4        651.958            407.608                   604.467
5        747.848            417.486                   686.074
6        897.284            556.102                   805.407
7       1061.169            573.390                   942.262
8       1384.919            776.755                  1216.397
9       1423.976            720.616                  1257.896

[10 rows x 21 columns]

Now that the table looks more understandable, let's check the status_label column to see if it can be converted into a dummy variable we can use in our analysis

In [13]:
# Check the values in status_label 
unique_values = df['status_label'].unique()
print("\nStatus Label is composed of these values: ", unique_values)

# Since there are only two values called 'alive' & 'failed' Let's change the column name to is_bankrupt and make it equal 1 if failed, and 0 if alive 
# Create dicitionary to assign values
mapping_dict = {
    'failed' : 1,
    'alive' : 0
}

# reassign values and rename column
df['status_label'] = df['status_label'].map(mapping_dict)
df.rename(columns = {'status_label': 'is_bankrupt'}, inplace=True)

# check reassigned data_frame
print(df.head(20))

Status Label is composed of these values:  ['alive' 'failed']
   company_name  is_bankrupt  year  current_assets  cost_of_goods_sold  \
0           C_1            0  1999         511.267             833.107
1           C_1            0  2000         485.856             713.811
2           C_1            0  2001         436.656             526.477
3           C_1            0  2002         396.412             496.747
4           C_1            0  2003         432.204             523.302
5           C_1            0  2004         474.542             598.172
6           C_1            0  2005         624.454             704.081
7           C_1            0  2006         645.721             837.171
8           C_1            0  2007         783.431            1080.895
9           C_1            0  2008         851.312            1110.677
10          C_1            0  2009         863.429            1065.902
11          C_1            0  2010         913.985            1408.071
12          C_1            0  2011        1063.272            1662.408
13          C_1            0  2012        1033.700            1714.500
14          C_1            0  2013        1116.900            1581.400
15          C_1            0  2014         954.100            1342.700
16          C_1            0  2015         873.100            1354.900
17          C_1            0  2016         888.500            1422.700
18          C_1            0  2017         942.700            1413.200
19          C_2            0  1999        1029.438             930.142

    depreciation_amortization   ebitda  inventory  net_income  \
0                      18.373   89.031    336.018      35.163
1                      18.577   64.367    320.590      18.531
2                      22.496   27.207    286.588     -58.939
3                      27.172   30.745    259.954     -12.410
4                      26.680   47.491    247.245       3.504
5                      27.950   61.774    255.477      15.453
6                      29.222   91.877    323.592      35.163
7                      32.199  118.907    342.593      58.660
8                      39.952  168.522    435.608      75.144
9                      40.551  166.080    477.424      78.651
10                     38.930  134.345    496.904      44.628
11                     59.296  196.312    507.274      69.826
12                     80.333  222.693    599.752      67.723
13                    108.600  245.200    582.900      55.000
14                    113.400  256.000    632.900      72.900
15                     92.300   83.700    566.700      10.200
16                     70.800  136.900    563.700      47.700
17                     71.000  148.200    601.100      56.500
18                     40.500  126.500    547.900      15.600
19                    102.090  413.739    243.882      87.635

    total_receivables  ...  net_sales  total_assets  total_long_term_debt  \
0             128.348  ...   1024.333       740.998               180.447
1             115.187  ...    874.255       701.854               179.987
2              77.528  ...    638.721       710.199               217.699
3              66.322  ...    606.337       686.621               164.658
4             104.661  ...    651.958       709.292               248.666
5             127.121  ...    747.848       732.230               227.159
6             136.272  ...    897.284       978.819               318.576
7             181.691  ...   1061.169      1067.633               253.611
8             202.472  ...   1384.919      1362.010               507.918
9             227.300  ...   1423.976      1377.511               392.984
10            238.466  ...   1352.151      1501.042               336.191
11            296.489  ...   1775.782      1703.727               329.802
12            324.879  ...   2074.498      2195.653               669.489
13            315.400  ...   2167.100      2136.900               622.200
14            297.900  ...   2035.000      2199.500               564.300
15            231.100  ...   1594.300      1515.000                85.000
16            242.700  ...   1662.600      1442.100               136.100
17            251.400  ...   1767.600      1504.100               155.300
18            203.000  ...   1748.300      1524.700               177.200
19            436.751  ...   1926.947      1672.529                11.024

       ebit  gross_profit  total_current_liabilities  retained_earnings  \
0    70.658       191.226                    163.816            201.026
1    45.790       160.444                    125.392            204.065
2     4.711       112.244                    150.464            139.603
3     3.573       109.590                    203.575            124.106
4    20.811       128.656                    131.261            131.884
5    33.824       149.676                    160.025            142.450
6    62.655       193.203                    187.788            183.550
7    86.708       223.998                    256.506            242.153
8   128.570       304.024                    218.499            318.184
9   125.529       313.299                    254.418            385.851
10   95.415       286.249                    325.550            389.641
11  137.016       367.711                    416.010            467.485
12  142.360       412.090                    473.226            486.582
13  136.600       452.600                    389.000            542.400
14  142.600       453.600                    402.100            616.700
15   -8.600       251.600                    412.000            603.900
16   66.100       307.700                    329.000            637.200
17   77.200       344.900                    335.100            688.000
18   86.000       335.100                    333.300            701.200
19  311.649       996.805                    412.954            827.489

    total_revenue  total_liabilities  total_operating_expenses
0        1024.333            401.483                   935.302
1         874.255            361.642                   809.888
2         638.721            399.964                   611.514
3         606.337            391.633                   575.592
4         651.958            407.608                   604.467
5         747.848            417.486                   686.074
6         897.284            556.102                   805.407
7        1061.169            573.390                   942.262
8        1384.919            776.755                  1216.397
9        1423.976            720.616                  1257.896
10       1352.151            754.692                  1217.806
11       1775.782            868.438                  1579.470
12       2074.498           1329.631                  1851.805
13       2167.100           1217.400                  1921.900
14       2035.000           1198.800                  1779.000
15       1594.300            669.900                  1510.600
16       1662.600            576.300                  1525.700
17       1767.600            589.900                  1619.400
18       1748.300            588.400                  1621.800
19       1926.947            423.978                  1513.208

[20 rows x 21 columns]

Before we start our analysis let's further clean our data by: 
* removing rows with missing company_name or year
* impute missing numerical values based on the numbers for each individual company 
* check for year values that aren't consistent with our range of 1999 to 2018

In [14]:
# drop rows with no company name or year 
df = df.dropna(subset=['company_name', 'year'])

# make sure year is a number
df['year'] = df['year'].astype(int)

# remove data with invalid years (outside of range)
valid_years = list(range(1999, 2019))
df = df[df['year'].isin(valid_years)]

# Convert years into years since 1999
df['years_since_1999'] = df['year'] - 1999

#impute missing data using linear regression for each specific company
exogenous_variables = ['current_assets', 'cost_of_goods_sold', 'depreciation_amortization', 'ebitda', 'inventory', 'net_income', 'total_receivables', 'market_value', 'net_sales', 'total_assets', 'total_long_term_debt', 'ebit', 'gross_profit', 'total_current_liabilities', 'retained_earnings', 'total_revenue', 'total_liabilities', 'total_operating_expenses']


for company, group in df.groupby('company_name'):
    df.loc[group.index, exogenous_variables] = group[exogenous_variables].interpolate(method='linear')


#check for remaining missing values
print("Remaining missing values after interpolation: ")
print(df[exogenous_variables].isnull().sum())

#final data frame
print(df.head(20))

Remaining missing values after interpolation:
current_assets               0
cost_of_goods_sold           0
depreciation_amortization    0
ebitda                       0
inventory                    0
net_income                   0
total_receivables            0
market_value                 0
net_sales                    0
total_assets                 0
total_long_term_debt         0
ebit                         0
gross_profit                 0
total_current_liabilities    0
retained_earnings            0
total_revenue                0
total_liabilities            0
total_operating_expenses     0
dtype: int64
   company_name  is_bankrupt  year  current_assets  cost_of_goods_sold  \
0           C_1            0  1999         511.267             833.107
1           C_1            0  2000         485.856             713.811
2           C_1            0  2001         436.656             526.477
3           C_1            0  2002         396.412             496.747
4           C_1            0  2003         432.204             523.302
5           C_1            0  2004         474.542             598.172
6           C_1            0  2005         624.454             704.081
7           C_1            0  2006         645.721             837.171
8           C_1            0  2007         783.431            1080.895
9           C_1            0  2008         851.312            1110.677
10          C_1            0  2009         863.429            1065.902
11          C_1            0  2010         913.985            1408.071
12          C_1            0  2011        1063.272            1662.408
13          C_1            0  2012        1033.700            1714.500
14          C_1            0  2013        1116.900            1581.400
15          C_1            0  2014         954.100            1342.700
16          C_1            0  2015         873.100            1354.900
17          C_1            0  2016         888.500            1422.700
18          C_1            0  2017         942.700            1413.200
19          C_2            0  1999        1029.438             930.142

    depreciation_amortization   ebitda  inventory  net_income  \
0                      18.373   89.031    336.018      35.163
1                      18.577   64.367    320.590      18.531
2                      22.496   27.207    286.588     -58.939
3                      27.172   30.745    259.954     -12.410
4                      26.680   47.491    247.245       3.504
5                      27.950   61.774    255.477      15.453
6                      29.222   91.877    323.592      35.163
7                      32.199  118.907    342.593      58.660
8                      39.952  168.522    435.608      75.144
9                      40.551  166.080    477.424      78.651
10                     38.930  134.345    496.904      44.628
11                     59.296  196.312    507.274      69.826
12                     80.333  222.693    599.752      67.723
13                    108.600  245.200    582.900      55.000
14                    113.400  256.000    632.900      72.900
15                     92.300   83.700    566.700      10.200
16                     70.800  136.900    563.700      47.700
17                     71.000  148.200    601.100      56.500
18                     40.500  126.500    547.900      15.600
19                    102.090  413.739    243.882      87.635

    total_receivables  ...  total_assets  total_long_term_debt     ebit  \
0             128.348  ...       740.998               180.447   70.658
1             115.187  ...       701.854               179.987   45.790
2              77.528  ...       710.199               217.699    4.711
3              66.322  ...       686.621               164.658    3.573
4             104.661  ...       709.292               248.666   20.811
5             127.121  ...       732.230               227.159   33.824
6             136.272  ...       978.819               318.576   62.655
7             181.691  ...      1067.633               253.611   86.708
8             202.472  ...      1362.010               507.918  128.570
9             227.300  ...      1377.511               392.984  125.529
10            238.466  ...      1501.042               336.191   95.415
11            296.489  ...      1703.727               329.802  137.016
12            324.879  ...      2195.653               669.489  142.360
13            315.400  ...      2136.900               622.200  136.600
14            297.900  ...      2199.500               564.300  142.600
15            231.100  ...      1515.000                85.000   -8.600
16            242.700  ...      1442.100               136.100   66.100
17            251.400  ...      1504.100               155.300   77.200
18            203.000  ...      1524.700               177.200   86.000
19            436.751  ...      1672.529                11.024  311.649

    gross_profit  total_current_liabilities  retained_earnings  total_revenue  \
0        191.226                    163.816            201.026       1024.333
1        160.444                    125.392            204.065        874.255
2        112.244                    150.464            139.603        638.721
3        109.590                    203.575            124.106        606.337
4        128.656                    131.261            131.884        651.958
5        149.676                    160.025            142.450        747.848
6        193.203                    187.788            183.550        897.284
7        223.998                    256.506            242.153       1061.169
8        304.024                    218.499            318.184       1384.919
9        313.299                    254.418            385.851       1423.976
10       286.249                    325.550            389.641       1352.151
11       367.711                    416.010            467.485       1775.782
12       412.090                    473.226            486.582       2074.498
13       452.600                    389.000            542.400       2167.100
14       453.600                    402.100            616.700       2035.000
15       251.600                    412.000            603.900       1594.300
16       307.700                    329.000            637.200       1662.600
17       344.900                    335.100            688.000       1767.600
18       335.100                    333.300            701.200       1748.300
19       996.805                    412.954            827.489       1926.947

    total_liabilities  total_operating_expenses  years_since_1999
0             401.483                   935.302                 0
1             361.642                   809.888                 1
2             399.964                   611.514                 2
3             391.633                   575.592                 3
4             407.608                   604.467                 4
5             417.486                   686.074                 5
6             556.102                   805.407                 6
7             573.390                   942.262                 7
8             776.755                  1216.397                 8
9             720.616                  1257.896                 9
10            754.692                  1217.806                10
11            868.438                  1579.470                11
12           1329.631                  1851.805                12
13           1217.400                  1921.900                13
14           1198.800                  1779.000                14
15            669.900                  1510.600                15
16            576.300                  1525.700                16
17            589.900                  1619.400                17
18            588.400                  1621.800                18
19            423.978                  1513.208                 0

[20 rows x 22 columns]

The debt/equity ratio, the operating cash flow/sales ratio and the current ratio could be good predictors for bankruptcy according to the literature. So let's add them to our data frame using the exogenous variables provided to us:

In [15]:
# Caclculate Financial Ratios & Add them to the data frame
df['debt_equity_ratio'] = df['total_long_term_debt'] / df['retained_earnings']
df['operating_cash_flow_sales_ratio'] = df['ebitda'] / df['total_revenue']
df['current_ratio'] = df['current_assets'] / df['total_current_liabilities']

# Check for missing values
print("Remaining missing values after interpolation and ratio computation:")
print(df.isnull().sum())

Remaining missing values after interpolation and ratio computation:
company_name                       0
is_bankrupt                        0
year                               0
current_assets                     0
cost_of_goods_sold                 0
depreciation_amortization          0
ebitda                             0
inventory                          0
net_income                         0
total_receivables                  0
market_value                       0
net_sales                          0
total_assets                       0
total_long_term_debt               0
ebit                               0
gross_profit                       0
total_current_liabilities          0
retained_earnings                  0
total_revenue                      0
total_liabilities                  0
total_operating_expenses           0
years_since_1999                   0
debt_equity_ratio                  0
operating_cash_flow_sales_ratio    0
current_ratio                      0
dtype: int64

Let's do a summary and description for our data

In [16]:
df.describe()

,is_bankrupt,year,current_assets,cost_of_goods_sold,depreciation_amortization,ebitda,inventory,net_income,total_receivables,market_value,...,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operating_expenses,years_since_1999,debt_equity_ratio,operating_cash_flow_sales_ratio,current_ratio
count,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,7.868200e+04,...,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000,78682.000000
mean,0.066343,2007.506317,880.362485,1594.529029,121.234256,376.759424,201.605717,129.382453,286.832743,3.414355e+03,...,769.490783,610.072255,532.467069,2364.019706,1773.563963,1987.260307,8.506317,1.162419,-8.676250,3.491616
std,0.248882,5.742768,3928.564794,8930.484664,652.376804,2012.023142,1060.766096,1265.532022,1335.978571,1.841410e+04,...,3774.703114,2938.387443,6369.159440,11950.068842,8053.684902,10419.629038,5.742768,130.273901,214.708115,88.748428
min,0.000000,1999.000000,-7.760000,-366.645000,0.000000,-21913.000000,0.000000,-98696.000000,-0.006000,1.000000e-04,...,-21536.000000,0.001000,-102362.000000,-1964.999000,0.001000,-317.197000,0.000000,-7710.500000,-29325.700000,-12.721311
25%,0.000000,2002.000000,18.924000,17.038250,1.192000,-0.811000,0.000000,-7.415750,3.281250,3.498000e+01,...,8.521250,8.889250,-68.282750,27.548500,13.486000,32.872500,3.000000,-0.033653,-0.044176,1.158053
50%,0.000000,2007.000000,100.449500,103.661000,7.929500,15.034500,7.023000,1.616000,22.820000,2.275118e+02,...,63.581500,43.333000,-1.131000,186.598500,81.988000,168.912000,8.000000,-0.000000,0.081687,1.897068
75%,0.000000,2012.000000,431.526750,634.548000,47.971750,139.655250,74.747250,40.144250,131.580500,1.244890e+03,...,344.074250,222.817000,146.070000,1046.402500,629.975000,875.522250,13.000000,0.394964,0.171586,3.193725
max,1.000000,2018.000000,169662.000000,374623.000000,28430.000000,81730.000000,62567.000000,104821.000000,65812.000000,1.073391e+06,...,137106.000000,116866.000000,402089.000000,511729.000000,337980.000000,481580.000000,19.000000,25655.666667,358.210526,24108.000000

Since we have different numerical exogenous variables observed throughout time on the same time span for different companies, we could try to use panel data to find bankruptcy predictors. Let's try a fixed effects model as it accounts for time_specific & company_specific effects